/*
OXFORD BLUE 0B132B
SPACE CADET 1C2541
YINMIN BLUE 3A506B
VERDIGRIS 5BC0BE
FLUROESCENT CYAN 6FFFE9
*/

.cardgame {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background:   #0B132B;
    /*border: 2px solid #6fffe9;*/
    border-radius: 0 150px 0 40px;
    border-top: 0;
    border-left: 0;
    margin: 1em;
    position: relative;
}

.ola{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -0;
    height: 20%;
}

.path{
    stroke: none;
    fill: aliceblue;
}

.wave{
    height: 120px;
    width: 300px;
}

.informacion{
    display: flex;
    align-items: center;
    margin: auto 0;
}

a:link{
    display: flex;
    align-items: center;
    text-decoration: none! important;
    width: 100%;
}

.cardgame__title{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
    align-items: center;
    background-color: #6FFFE9;
    border: 1px solid #0B132B;
    border-bottom: 0;
}

.genre_name{
    font-size: 20px;
    margin: auto;
    color: #6FFFE9;
}

/*.card2:hover {
    background-color: gray;
    transition: 0.7s;
}*/

.name {
    margin-left: 0.5rem;
    color: #1C2541;
}

.s{
    font-size: 34px;
}

.m{
    font-size: 25px;
}

.l{
    font-size: 21px;
}

.xl{
    font-size: 18px;
}

.xxl{
    font-size: 15px;
}

.align {
    display: flex;
    height: 80%;
    width: 100%;
}

.image{
    height: 100%;
    width: 50%;
    border-radius: 0 0 0 40px;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}