.container {
    display: flex;
    justify-content: space-around;
}
.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
}

.pagination {
    display: inline-block;
    padding: 0.35em 1.2em;
    border-radius: 1em;
    font-size: larger;
    color: #6FFFE9;
    background: #1C2541;
}

.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
}

.pageNumbers li, ul button{
    display: inline-block;
    padding:  10px;
    border-radius: 1em;
    border: none;
    font-size: larger;
    color: #6FFFE9;
    background: #1C2541;
    cursor: pointer;
}

.pageNumbers li.active{
    background: #6FFFE9;
    color: #1C2541;
}

.ul button:target{
    color: #1C2541;
    background: green
}

.pageNumbers__prevArrow{
    animation: pageNumbers__prevArrow .25s forwards;
}

.pageNumbers__nextArrow{
    animation: pageNumbers__nextArrow .25s forwards;
}

@keyframes pageNumbers__prevArrow{
    0%{
        background: #6FFFE9;
        color: #1C2541;
    }

    50%{
        background: #1C2541;
        color: #6FFFE9;
    }

    100%{
        transform: unset;
    }
}

@keyframes pageNumbers__nextArrow{
    0%{
        background: #6FFFE9;
        color: #1C2541;
    }

    50%{
        background: #1C2541;
        color: #6FFFE9;
    }

    100%{
        transform: unset;
    }
}