.container {
    display: flex;
    justify-content: space-around;
}
.grid {
    display: flex;
    justify-content: space-arounds;
    flex-wrap: wrap;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border-radius: 1em;
    font-size: larger;
    color: #6FFFE9;
    background: #1C2541;
}

.button:hover {
    color: #1C2541;
    background-color: #6FFFE9;
    cursor: pointer;
}