.searchBar{
    display: flex;
    background-color: #0B132B;
    box-shadow: black;
    border-radius: 2rem;
    height: 40px;
    margin-left: 1rem;
}

.searchBar__buttons{
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.searchBar__icons{
    fill: #1C2541;
}

.searchBar__buttons--search, .searchBar__buttons--default{
    transition: all 0.3s;
    margin: auto 0;
    background-color: #5BC0BE;
    border: 2px #1C2541 solid;
    border-radius: 2em;
}

.searchBar__buttons--search:hover, .searchBar__buttons--default:hover{
    background-color: #1C2541;
    border: 2px #5BC0BE solid;
    cursor: pointer;
}

.searchBar__buttons--search:hover .searchBar__icons, .searchBar__buttons--default:hover .searchBar__icons{
    fill: #5BC0BE;
}

.searchBar__input{
    border-radius: 60px;
    margin: auto 0px;
    background-color: #5BC0BE;
    color: #1C2541;
    margin-left: 15px;
    font-size: 20px;
    font-family: inherit;
    padding-left: 5px;
    width: 80%;
    outline: 1px solid #1C2541;
    border: 1px solid #5BC0BE;
}

.inputtext::placeholder{
    color: #1C2541;
    opacity: 0.5;
}

input:focus{
    outline: 1px solid #5BC0BE;
    border: 1px solid #1C2541;
}