@font-face{
    font-family: Gamestation-CondensedOblique;
    src: url('../../font/GamestationCondensedoblique-j34j.otf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background: url(../../img/Gaming_bg.png);*/
    background: aliceblue;
    font-family: Gamestation-CondensedOblique;
}

.control{
    text-align: center;
    overflow: hidden;
}

.svg{
    height: 600px;
    width: 600px;
    transform: translateY(45%);
}

.svg:hover{
    animation: animate 0.5s forwards;
}

.svg:not(:hover){
    animation: undo 0.5s forwards;
}

/* ----- Control ----- */
#Select, #Start{
    cursor: pointer;
}

#Start:hover{
    transform: scale(1.005);
}

#Select:hover{
    transform: scale(2.5);
}

/* ------- Crosses ------*/
#Vector_15, #Vector_16, #Vector_17, #Vector_18, #Buttons{
    cursor: pointer;
}

/* ----- Left Cross ----- */
/* --- Arrows --- */
#Vector_15:hover, #Vector_16:hover, #Vector_17:hover, #Vector_18:hover{
    transform: scale(1.005);
}

/*Left*/
#Vector_15:hover+#Polygon_81{
    fill: pink;
}

/*Down*/
#Vector_16:hover+#Polygon_80{
    fill: rgb(0, 68, 255);
}

/*Right*/
#Vector_17:hover+#Polygon_79{
    fill: red;
    opacity: 0.5;
}

/*Up*/
#Vector_18:hover+#Polygon_82{
    fill: green;
}
/* ----- Right Cross ----- */
/* --- Botones --- */

#Cross:hover, #Circle:hover, #Triangle:hover, #Square:hover{
    transform: scale(1.0025);
}

/*Cross*/
#Cross:hover #x{
    fill: rgb(0, 68, 255);
}


/*Circle*/
#Circle:hover #Vector_11{
    fill: red;
    opacity: 0.5;
}

/*Triangle*/
#Triangle:hover #Polygon_1{
    fill: green;
} 

/*Square*/
#Square:hover #Rectangle_78{
    fill: pink;
}

/* ----- Wifi ----- */

#Wifi{
    opacity: 0;
}

.svg:hover #Wifi{
    animation: wifi 1s 1s infinite forwards;   
}

.svg:hover #Inner_Wifi{
    animation: inner 2s 1s infinite forwards;
}

.svg:hover #Vector_9{
    animation: middle 2s 1s infinite forwards;
}

.svg:hover #Vector_8{
    animation: outer 2s 1s infinite forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}


@keyframes animate{
    to{
    transform: translateY(2%);
    }
}

@keyframes undo{
    from{
        transform: unset;
    }
    to{
        transform: translateY(45%);
    }
}

@keyframes wifi{
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes inner{
    0%{
        fill: rgb(11, 12, 13);
        opacity: 0.5;

    }
    25%{
        fill: red;
        opacity: 1;
    }
    50%{
        fill: yellow;
    }
    75%{
        fill: green;
    }
    100%{
        transform: unset;
    }
}

@keyframes middle{
    0%{
        fill: rgb(11, 12, 13);
        opacity: 0;
    }
    25%{
        fill: rgb(11, 12, 13);
        opacity: 0.5;
    }
    50%{
        fill: yellow;
        opacity: 1;
    }
    75%{
        fill: green;
    }
    100%{
        transform: unset;
    }
}

@keyframes outer{
    0%{
        fill: rgb(11, 12, 13);
        opacity: 0;
    }
    25%{
        fill: rgb(11, 12, 13);
        opacity: 0;
    }
    50%{
        fill: rgb(11, 12, 13);
        opacity: 0.5;
    }
    75%{
        fill: green;
        opacity: 1;
    }
    100%{
        transform: unset;
    }
}

/*----- Background -----*/

.bg{
    background: url(../../img/Dark_bg.png);
}

/*--- top ---*/
.top__bg{
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/*--- top svg ---*/
.start, .select{
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
}

/*--- top text ---*/
.text{
    text-align: center;
    font-size: 35px;
    color: white;
    font-variant: small-caps;
}

/*--- right bg ---*/ 
.right__bg{
    width: 10%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

/*--- bottom bg ---*/
.bottom__bg{
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*--- left bg ---*/
.left__bg{
    width: 10%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

/*----- Menu -----*/
.menu__checkbox{
    display: none;
}

.info__checkbox:checked ~ .info{
    transform: unset;
}

.info{
    position: fixed;
    top: 10%;
    right: 0;
    background: url(../../img/Menu_bg.png); 
    /*background: gray;*/
    height: 40%;
    width: 40%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    transform: translate(100%);
    transition: .4s transform;
    color: white;
    padding: 5px;
    overflow: hidden;
}

.info--text{
    display: flex;
    justify-content: flex-end;
}

.info__title{
    margin: 0 auto;
}

.triangle, .circle, .cross, .square, .up, .right, .down, .left{
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 1px;
    right: 1px;
}

#Up, #Right, #Left, #Down{
    fill: gray;
}

/*.info{
position: relative;
/* left: -8px; 
font-size: 14.8px;
}*/