.navbar {
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3A506B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.order{
    display: flex;
    align-items: center;
}

.newGame{
    flex-direction: column;
}

.continent {
    display: flex;
    margin-left: 1em;
    align-items: center;
    flex-direction: column;
}

a.landingLink, a.newGameLink{
    text-decoration: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    text-decoration: none! important;
}

a.newGameLink{
    width: 70px;
    margin-left: 0.5rem;
}

.landingLink__icon, .newGameLink__icon{
    width: 50px;
    height: 50px;
    fill: #6FFFE9;
}

.landingLink__text, .newGameLink__text{
    color: #6FFFE9;
}

.newGameLink__text{
    font-size: 14px;
}

.landingLink:hover .landingLink__icon, .newGameLink:hover .newGameLink__icon{
    fill: #1C2541;
}

.landingLink:hover .landingLink__text, .newGameLink:hover .newGameLink__text{
    color: #1C2541;
}

.order__text{
    color: #6FFFE9;
}

/*select{
    / A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }
*/

/*select:hover{
    background-color: yellow;
}*/

.order__filter{
    color: #6FFFE9;
    background-color: #1C2541;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-family: inherit;
    width: 110px;
    margin-top: 5px;
}

/*select::-ms-expand {
    display: none;
  }*/