.navbar {
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3A506B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.order{
    display: flex;
    align-items: center;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.list-item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}

.list-item a:hover,
.list-item a.active {
    background-color: #808080;
    color: white;
}

.continent {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.activity {
    align-self: center;
    margin-left: 3em;
}

.activity input {
    margin-left: 0.5em;
    border: 1px;
    border-radius: 30px;
    padding: 2%
}

.link {
    color: black;
    background-size: 100%;
    padding-left: 0.2%;
    padding-right: 0.2%;
    border-radius: 5%;
    align-items: baseline;
}

a.landingLink{
    text-decoration: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    text-decoration: none! important;
}

.landingLink__icon{
    width: 50px;
    height: 50px;
    fill: #6FFFE9;
}

.landingLink__text{
    color: #6FFFE9;
}

.landingLink:hover .landingLink__icon{
    fill: #1C2541;
}

.landingLink:hover .landingLink__text{
    color: #1C2541;
}

.order__text{
    color: #6FFFE9;
}

.order__filter{
    color: #6FFFE9;
    background-color: #1C2541;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-family: inherit;
}

.order__filter option:hover{
    background-color: #6FFFE9;
}


.btnact {
    text-align: center;
    font-size: medium;
    transition: all 0.3s;
    color: #fff;
    background-color: gray;
    border: 1px black;
    border-radius: 2em;
}

.btnact:hover {
    background-color: lightgray;
    color: black;
}

.dbpokemon {
    margin-top: 30px;
}